{% extends "flights/layout.html" %}
{% block body %}
<h1>Fligh {{flight.id}}</h1>
<ul>
  <li>Origin: {{flight.origin}}</li>
  <li>Destinatio: {{flight.destination}}</li>
  <li>Duration: {{flight.duration}}</li>
</ul>
<h2>Passengers</h2>
<ul>
  {% for passenger in passengers %}
  <li>{{ passenger}}</li>
  {% empty %}
  <li>No Passengers</li>
  {%endfor%}
  
</ul>
<h2>Add Passengers</h2>
<form action ="{% url 'book' flight.id %}" method="post">
  {% csrf_token %}
  <select name="passenger">
    {% for nopassenger in non_passengers %}
    <option value="{{nopassenger.id}}">{{nopassenger}}</option>
    {%endfor%}
  </select>
  <input type="submit">
</form>
<a href="{% url 'index'%}">All Flights</a>
{% endblock %}
